JWKS_URI=
TOKEN_ISSUER=
USER_ID_CLAIM=
SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_ENDPOINT_TOKEN=
SSO_ENDPOINT_USERINFO=

RECIPIENTS_API_URL=
RECIPIENTS_API_TOKEN=

SMTP_HOST=
SMTP_PORT=

IMAP_HOST=
IMAP_PORT=

ORG_EMAIL=
ORG_PASSWORD=

LISTEN_PORT=3000
