#VITE_SSO_AUTH_PROVIDER=eid
#VITE_SSO_AUTH_PROVIDER=keycloak
VITE_SSO_CLIENT_ID=
VITE_SSO_REDIRECT_URI=
VITE_SSO_LOGOUT_REDIRECT_URI=
VITE_SSO_ENDPOINT_AUTH=
VITE_SSO_ENDPOINT_USERINFO=
VITE_SSO_ENDPOINT_LOGOUT=
